@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');


.animal-info {
  display: grid;
  grid-template-areas: 
    "img  "
    "data "
    "description";
  grid-template-columns: 1fr;  
  grid-template-rows: auto 100px 1fr;
  padding: 20px;
  border-right: 2px solid black;

  &__data {
    grid-area: data;
    padding-left: 20px;
  }

  &__img {
    width: 100%;
    grid-area: img;
    border: 1px solid black;
  }

  &__description {
    grid-area: description;
    font-family: 'Roboto Condensed', sans-serif;
  }
}