@mixin large-text {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.header-nav {
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));  
  padding: 0px;
  height: 60px;
  width: 50%;
  list-style: none;
  // border: 1px solid red;

  

  &__item {
    @include large-text();
    padding: 10px;
    padding-top: 20px;
    transition: all .2s ease-out;
    text-align: center;


    &:hover {
      background-color: #fff;
      padding-top: 38px;
      cursor: pointer;
    }

    &--checked {
      background-color: #fff;
      padding-top: 38px;
    } 
  }
}
